.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 80%;
    margin: 20px 0;
    background-color: white;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .mat-paginator {
    margin: 20px 0;
  }