.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightblue;
}

h2 {
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}