<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <mat-form-field class="full-width">
      <mat-label>Gmail</mat-label>
      <input matInput type="email" id="gmail" [(ngModel)]="gmail" name="gmail" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" [(ngModel)]="password" name="password" required />
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-button type="button" (click)="goToRegistration()">Go to Registration</button>
    </div>
  </form>
</div>